.buttons{
    align-content: center;
}
#button {
    display: inline-block;
    background: grey;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
    cursor: pointer;
  }
  